.mainHeader{
    margin-top: 70px;
}

.main{
    margin-top: 10px;
}

html{
    font-size: 70%;
}

body{
    background-color: #eee;
    font-size: 100%;

}

div.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /*text-align: center; */
    padding-right: 0;
    padding-left: 0;
}


table.benefitversion td{
    padding-right: 0;
    padding-left: 0;
    border: 1px solid #7b41a8;
}



tr.header{
    background-color: #7b41a8;
    color: white;
    border: 1px solid blue;
    text-align: center;
}


th.benefitdesc{
    background-color: #0895c9;
    color: white;
    border: 1px solid #0895c9;
    
}

th.benefitdescborder{
    padding-right: 5px;
    padding-left: 5px;
    border: 1px solid #0895c9;
    border-right: 1px solid #0895c9;
}

td.subheaderNetwork1{
    background-color: #23a1a3;
    color: white;
    border: 1px solid #23a1a3;
}

td.subheaderNetwork1border{
    padding-right: 0;
    padding-left: 0;
    border: 1px solid #23a1a3;
}


td.subheaderNetwork2{
    background-color: #0a9659;
    color: white;
    border: 1px solid #0a9659;
}

td.subheaderNetwork2border{
    padding-right: 0;
    padding-left: 0;
    border: 1px solid #0a9659;
}


.display-inline{
    display: inline-block;
    padding-right: 0;
    padding-left: 0;
}



/* additing scroll to the grid */

.scrolling table {
    table-layout: inherit;
 *margin-left: -100px;/*ie7*/
}
.scrolling td , th {
    vertical-align: top;
	padding: 10px;
	min-width: 100px;
}
.scrolling th {
	position: absolute;
    *position: relative; /*ie7*/
	left: 0;
	width: 150px;
}
.outer {
	position: relative
}
.inner {
	overflow-x: auto;
	overflow-y: visible;
	margin-left: 150px;
}
